@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-jakarta: "Plus Jakarta Sans", sans-serif;
    --animate-carousel: carousel 40s infinite linear;
    --animate-carousel1: carousel1 40s infinite linear;
}

@keyframes carousel {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }

@keyframes carousel1 {
        from {
            transform: translateX(-50%);
        }

        to {
            transform: translateX(0);
        }
    }